table.table.data > thead > tr > th {
  text-align: center;
  background-color: #078e72;
  color: #ffffff;
}
table.table.data > thead > tr:nth-child(2) > th {
  font-size: 10px;
}
table.table.data > thead > tr:nth-child(2) > th:nth-child(1) {
  font-size: 14px;
}

table.table.data > tbody > tr > td > span.red {
  color: #dc3545 !important;
  font-weight: bold !important;
}
table.table.data > tbody > tr > td > span.green {
  color: #198754 !important;
  font-weight: bold !important;
}

table.table.data > tfoot > tr > td,
table.table.data > tbody > tr.table-warning > td {
  padding: 3px;
}
.tdr {
  padding: 10px;
  text-align: center;
}

table.table.data > tfoot > tr > td > input,
table.table.data > tbody > tr.table-warning > td > input {
  padding: 3px;
  width: 100%;
  font-size: 10px;
}
table.table.data > tfoot > tr > td > button {
  white-space: nowrap;
}
table.table.data > tfoot > tr > td > input[type="time"],
table.table.data > tbody > tr.table-warning > td > input[type="time"] {
  width: 90px;
  font-size: 12px;
}
table.table.data > thead > tr > th {
  position: sticky !important;
}
table.table.data.rm > thead > tr:nth-child(1) > th {
  top: 56px;
}
table.table.data.rm > thead > tr:nth-child(2) > th {
  top: 97px;
}
table.table.data.qc > thead > tr:nth-child(1) > th {
  top: 56px;
}
table.table.data.qc > thead > tr:nth-child(2) > th {
  top: 124px;
}
table.table.data.qc > thead > tr:nth-child(3) > th {
  font-size: 10px;
  top: 193px;
  height: 50px;
}
table.table.data.baking > thead > tr:nth-child(1) > th {
  top: 56px;
}
table.table.data.baking > thead > tr:nth-child(2) > th {
  top: 125px;
}
table.table.data.baking > thead > tr:nth-child(3) > th {
  top: 194px;
  height: 90px;
  font-size: 10px;
}

table.table.data.seasoning > thead > tr:nth-child(1) > th {
  top: 56px;
}
table.table.data.seasoning > thead > tr:nth-child(2) > th {
  top: 124px;
}
table.table.data.seasoning > thead > tr:nth-child(3) > th {
  top: 193px;
  height: 60px;
  font-size: 10px;
}

table.table.data.fg > thead > tr:nth-child(1) > th {
  top: 31px;
}
table.table.data.fg > thead > tr:nth-child(2) > th {
  top: 97px;
  height: 115px;
}


table.table.data.sealing > thead > tr:nth-child(1) > th {
  top: 56px;
}
table.table.data.sealing > thead > tr:nth-child(2) > th {
  top: 121px;
}
table.table.data.sealing > thead > tr:nth-child(3) > th {
  top: 171px;
  
} 
table.table.data.sealing > thead > tr:nth-child(4) > th {
  top: 241px;
  
} 
/*
table.table.data > thead > tr:nth-child(2) > th {
  position: sticky;
  top: 121px;
}

table.table.data > thead > tr:nth-child(3) > th {
  position: sticky;
  top: 153px;
  min-height: 65px;
  height: 65px;
  font-size: 10px;
}
*/
table.table.data > tbody > tr > td.action {
  white-space: nowrap;
}
table.table.data > tbody > tr > td.action > button {
  font-size: 10px;
}

table.table.data > tbody > tr > td.action > button:first-child {
  margin-right: 5px;
}
table.table.data > tbody > tr.table-warning > td {
  vertical-align: middle;
}
table.table.data > thead > tr > th label {
  font-size: 10px;
}
table.table.data > thead > tr > th .form-control-plaintext {
  font-weight: bold;
  padding: 0;
  color: #ffffff;
}

table.table.data > thead > tr > th.vertical span {
  transform-origin: 0 50%;
  transform: rotate(90deg);
  position: absolute;
  top: 0px;
  text-align: left;
  white-space: nowrap;
}
table.table.data > thead > tr > th .row > div {
  margin-bottom: 0px;
}
table.table.data > thead > tr > th .no-gutters {
  margin-right: -7px;
  margin-left: -7px;
}
table.table.data > thead > tr > th .no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}
table.table.data > thead > tr > th .form-group {
  text-align: left;
}
table.table.data > thead > tr > th .form-control {
  font-size: 10px;
  padding: 5px 2px;
  min-width: 45px;
}
table.table.data > thead > tr > th.subtitle {
  font-size: 10px;
}
table.table.data > thead > tr > th.title {
  font-size: 16px;
}
.form-control-plaintext {
  outline: 0px;
}
table.sign,
table.sign td,
table.sign th {
  border: 1px solid #000000;
}

table.sign {
  width: 100%;
  border-collapse: collapse;
}

.petunjuk {
  font-size: 10px;
}
.modal {
  background: rgba(0, 0, 0, 0.5);
}
.modal button.close {
  border: none;
}
.form-group {
  margin-bottom: 1rem;
}
.text-right {
  text-align: right;
}
table.table.data > tbody > tr > td {
  font-size: 12px;
}

.dropdown-item:hover > .dropdown-menu {
  display: block;
  margin-top: 0;
}

.dropdown:hover > .dropdown-menu {
  display: block !important;
}
.dropdown-submenu:hover > .dropdown-menu {
  display: block !important;
  left: 100%;
  margin-top: -37px;
}

.dropdown-toggle::after {
  margin-bottom: -2px;
}
.dropdown-menu li a.active {
  color: #ffffff;
}

.custom-toggle-arrow {
  font-size: 18px;
  margin-top: 1px;
  line-height: 12px;
}
nav + .container-fluid {
  margin-top: calc(var(--bs-gutter-x) * 0.5);
}
body {
  height: 100vh;
}
body > #root {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.container-fluid.dashboard {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.container-fluid.dashboard > .item {
  flex-grow: 1;
}

.container-fluid.dashboard .carousel-root {
  height: 100%;
}
.container-fluid.dashboard .carousel-root > .carousel {
  height: 100%;
}
.container-fluid.dashboard .carousel-root > .carousel .slider-wrapper {
  height: 100%;
}
.container-fluid.dashboard .carousel-root > .carousel .carouselItem {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.container-fluid.dashboard .carousel-root > .carousel .carouselItem > div {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.container-fluid.dashboard
  .carousel-root
  > .carousel
  .carouselItem
  > div
  > .card {
  flex-grow: 1;
}
.container-fluid.dashboard
  .carousel-root
  > .carousel
  .carouselItem
  > .card
  > .card-body {
  position: relative;
  height: 100%;
}
.container-fluid.dashboard
  .carousel-root
  > .carousel
  .slider-wrapper
  > .slider {
  height: 100%;
}

@-webkit-keyframes borderBlink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #dc3545;
  }
}
@keyframes borderBlink {
  from,
  to {
    /* 1px solid rgba(0,0,0,.125) */
    border-color: transparent;
  }
  50% {
    border-color: #dc3545;
  }
}
.borderBlink {
  border: 5px solid #dc3545;
  -webkit-animation: borderBlink 1s step-end infinite;
  animation: borderBlink 1s step-end infinite;
  /* add 'border-color: transparent' if you wish no border to show initially */
}

/* 

.container-fluid.dashboard .carousel {
  height: 100%;
}
.container-fluid.dashboard .carousel > .carousel-inner {
  height: 100%;
}
.container-fluid.dashboard .carousel > .carousel-inner > .carousel-item {
  height: 100%;
}
.container-fluid.dashboard .carousel > .carousel-inner > .carousel-item > div {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container-fluid.dashboard
  .carousel
  > .carousel-inner
  > .carousel-item
  > div
  > .card {
  flex-grow: 1;
} */
